@import "./variables";

.Footer {
  margin: auto;
  text-align: center;
  border: 2px solid blue;
  width: 60%;

  .team-list {
    list-style-type: none;
    flex-wrap: wrap;

    li {
      padding: 10px;
      margin: 0 1em;
    }
  }
}

p {
   color: $purple1;
   border: 1px solid black;
}
