/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600;700&display=swap");

.search {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
}

input {
   height: 2rem;
   border-style: none;
   border-radius: 10px;
   font-family: "Roboto", sans-serif;
   margin: 0.3rem;
   padding: 10px;
}

.searchBar {
   text-align: left;
   background-color: rgba(227, 227, 227, 1);
   font-weight: 500;
   width: 75px;
}

.searchButton {
   background-color: white;
   border-style: none;
}